# Config file for automatic testing at travis-ci.org

sudo: false
language: python

stages:
- test
- name: deploy
  if: repo = ESSS/pytest-regressions AND tag IS present
jobs:
  include:
    - python: 3.6
      env: TOX_ENV=linting
    - python: 2.7
      env: TOX_ENV=py27
    - python: 3.5
      env: TOX_ENV=py35
    - python: 3.6
      env: TOX_ENV=py36
    - python: 3.6
      env: TOX_ENV=docs
    - stage: deploy
      python: '3.6'
      env:
      install: pip install -U setuptools setuptools_scm
      script: skip
      deploy:
        provider: pypi
        user: nicoddemus
        distributions: sdist bdist_wheel
        skip_upload_docs: true
        password:
          secure: sbE+fiTUJD5m/WSuMvzogVWZmQ/ndnGT8WMu8TQS6GREq/4HFjUsyWu+k6t/nQGJQmzexewAEJFAmkmza2+80ARKz+zxC6NqKw186nXKuhsdJwbL2Sx0NYnxEzUm9AnlirkWwMtf2gLRvJpuqBHQYLUJFvIEbsQaAIG9eRpDKtdgE/SSHqXTWeregJRJe8Z5AsO1gwaW/JeJqbvl1Xv8+3uS2G402JbQilvb4yRboRQiZ+OG65GItb7U5QGiflCdl22QQ8FQgXP6oR326o8HtwTO4RXLqVDdSujDwTjbk3zBa2+OcwdDhy4s0ARb7tuBI7wTPRGyl8sZJXjSpMJgb8pyYMwKNhuxR9CVTTDRlgVQJASZYeWBEao1KJa07C7/48MVanUHbfxDI/oHP3eP0n16zR/aRUgpHpdA9fDEImuDVBbJGa4kkwvPfqq5EmnPyIwZoM5YctFwuxpC43kjcqtBqMPj1u+tKw16r4AEurheIXQBtn6v0piu4Uf5ooJgzrVO1FxfoRB87gRK4OILa1nNWEBi3mjMJ/gzSJqhNicQfMngIv5UaC5JxtaXTOcBFILJHj3AuqEOGnIlGlzqezw7x2VJfm/nAZ37aGvNttBC6XqzB2PApRU+wycxR++O0Q/eodABv+xygTfumMxBrkYYwh4ap219IxuCrYWMHg0=
        on:
          tags: true
          repo: ESSS/pytest-regressions

install:
  - pip install -U pip
  - pip install -U setuptools tox

script:
  - tox -e $TOX_ENV

before_cache:
  - rm -rf $HOME/.cache/pip/log

cache:
  directories:
    - $HOME/.cache/pip
